<div class="card">
        <a href='/post/{{}}'></a>
        <h2>Enter your post below:</h2>
            <form>
                <input id='post-name' placeholder='post name' type='input' />
                
            </form>
        <h3>{{userPost.date_created}}</h3>
        <form class="was-validated">
            <div class="mb-3">
                
                <label for="validationTextarea">Post</label>
                <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Enter your post" required></textarea>
                <div class="invalid-feedback">
                Please enter a message in the textarea.
                </div>
                <button type='submit'>Post</button>
            </div>
            
        <h5>Created by: {{userPost.post_username}}</h5>

    </div>