{{> header/header-block-logout}}

<div class="container">
        <h1 class=" font-effect-shadow-multiple title-responsive"> This is the sign up page</h1>
        <div class = "row">
            <div class="col-sm-12 col-md-3 margin-responsive text-center">
            </div>        
            <div class = "col-sm-12 col-md-4 offset-md-1" id="form">
                <form id="signup-form">
                    <h2>Sign Up</h2>

                    <label for="emailsignup" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="signupemail" placeholder = "email">

                    <label for="usernamesignup" class="form-label">User name</label>
                    <input type="text" class="form-control" id="signupusername" placeholder = "username">

                    <label for="passwordsignup" class="form-label">Password</label>
                    <input type="text" class="form-control mb-2" id="signuppassword" placeholder ="password">

                    <button id="signup-form-button" type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
                </form>
            </div>
            <div class="col-sm-12 col-md-3 margin-responsive text-center offset-md-1">

            </div>
        </div>
</div>

 <script src='./js/signup.js'></script>