:root {
    --darkblue: rgb(12, 52, 131);
    --blue: rgb(162, 182, 223);
    --lightblue: rgb(107, 140, 206);
    --lightblue2: rgb(162, 182, 223);
    --indigo: rgb(21, 20, 66);
    --skyblue: rgb(0, 174, 255);
    --white: white;
    --gray: rgb(90, 88, 88);
    --green: rgba(141, 226, 13, 0.733);
    --orangeish: rgba(255, 68, 0, 0.589);

} 

body {
    background-color: var(--indigo);
}

nav{
    background-color: lightgray;
}

h2 {
    text-align: center;
    color: var(--green);
    font-weight: bolder;
    text-shadow:5px 5px 10px blue;
}
h3 {
    font-weight: bolder;
}
#techbl {
    font-weight: bolder;
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
}

#card-posts {
    margin-left: 15%;
    border:10px solid rgba(141, 226, 13, 0.733);
    border-style: double;
    border-width: thick;
}

#create-post-style {
    background-color: var(--lightblue2);
    margin-left: 15%;
    border:10px solid rgba(87, 16, 16, 0.274);
    border-style: dotted;
    border-width: thick;
    padding: 2%;
}

#createdby {
    font-weight: bolder;
}
/* #postnamestyle {
    font-weight: bolder;
    letter-spacing: 0.03rem;
    color: white;
    background-color: var(--green);
} */

#upd-del-btn-style {
    margin-left: 35%;

}

#create-style {
    margin-left: 35%;

}